name: first workflow
on: push
jobs:
  # job 이름
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Hello world
        run: echo "Hello World"

      - name: Checkout Code
        uses: actions/checkout@v4 # actions -> 재사용가능한 작업

      - name: install deps
        run: npm ci
